h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Song Myung", serif;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #4f4f4f;
}

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #4f4f4f;
}

.btn, .section1 div:nth-child(1) div a {
  padding: 15px;
  border: 2px #79a9f5 solid;
  border-radius: 20px;
  font-size: 24px;
  color: #79a9f5;
  margin: 0px 10px;
  display: inline-block;
}

.btn {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn2 {
  font-weight: 500;
  border: 2px #ff6961 solid !important;
  background-color: #ff6961 !important;
  color: white !important;
}

.btn:hover {
  -webkit-box-shadow: 0px 2px 22px 0px rgba(50, 50, 50, 0.3);
          box-shadow: 0px 2px 22px 0px rgba(50, 50, 50, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  background-color: #79a9f5;
}

@media screen and (max-width: 2560px) {
  .section1 {
    background-image: url("/Landing page/images/dogbackground_v4_v1.png") !important;
  }
  .navcontainer li:nth-child(7) {
    display: none;
  }
}

@media screen and (max-width: 1830px) {
  .section1 {
    background-image: url("/Landing page/images/dogbackground_v4_v1.png") !important;
  }
}

@media screen and (max-width: 1700px) {
  .section1 {
    background-image: url("/Landing page/images/dogbackground_v4_tablet_v2.png") !important;
  }
}

@media screen and (max-width: 1450px) {
  .section3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .section3 img {
    width: 80%;
  }
  .section3 .section2first {
    margin-top: 300px !important;
  }
  .section3 .section2second {
    padding: 0px 60px !important;
    margin-top: 100px !important;
  }
}

@media screen and (max-width: 1350px) {
  .section1 {
    padding-bottom: 100px !important;
    background-image: url("/Landing page/images/dogbackground_v4_tablet_v3.png") !important;
  }
  .section2 {
    margin-bottom: 100px !important;
  }
  .section2 p {
    padding: 10px 40px 0px 40px;
  }
}

@media screen and (max-width: 1200px) {
  .section1 {
    background-image: url("/Landing page/images/dogbackground_v4_tablet_v4.png") !important;
  }
  .grid-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1060px) {
  .section1 {
    background-image: url("/Landing page/images/dogbackground_v4_tablet_v5.png") !important;
  }
  .section1 div:nth-child(1) {
    width: 100% !important;
  }
  .section1 div:nth-child(2) {
    display: none !important;
  }
  .navcontainer li:nth-child(1) {
    display: none;
  }
  .navcontainer li:nth-child(2) {
    display: none;
  }
  .navcontainer li:nth-child(3) {
    display: none;
  }
  .navcontainer li:nth-child(4) {
    display: none;
  }
  .navcontainer li:nth-child(7) {
    display: inline-block;
  }
  .container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .container .box {
    margin-top: 60px;
  }
  .flexfooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
}

@media screen and (max-width: 760px) {
  .section4 {
    margin-top: 40px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .section4 div a {
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 630px) {
  .section1 {
    margin-top: -100px;
    background-image: url("/Landing page/images/dogbackground_v4_tablet_v6.png") !important;
  }
  .section1 h1:nth-child(1) {
    font-size: 40px !important;
  }
  .section1 h1:nth-child(2) {
    font-size: 50px !important;
  }
}

@media screen and (max-width: 490px) {
  .btn {
    margin: 15px auto !important;
  }
  .section1 {
    background-image: url("/Landing page/images/dogbackground_v4_tablet_v7.png") !important;
  }
  .section1 div:nth-child(1) div {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-title {
  margin-top: 100px;
  color: #4f4f4f;
}

.contact-title h1 {
  font-size: 23px;
  line-height: 5px;
  color: #79a9f5;
}

#onkentes {
  text-align: center;
  margin-top: 50px;
}

#onkentes span {
  color: #ff6961;
}

form {
  margin-top: 50px;
}

textarea::-webkit-input-placeholder {
  font-size: 18px !important;
  font-family: "Open Sans", sans-serif;
}

textarea:-ms-input-placeholder {
  font-size: 18px !important;
  font-family: "Open Sans", sans-serif;
}

textarea::-ms-input-placeholder {
  font-size: 18px !important;
  font-family: "Open Sans", sans-serif;
}

textarea::placeholder {
  font-size: 18px !important;
  font-family: "Open Sans", sans-serif;
}

article ul li {
  margin: 30px 0px;
  font-size: 18px;
  list-style-image: url("/Landing page/images/dogpaw_listicon.png");
}

.form-control {
  width: 600px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #4f4f4f;
  color: #4f4f4f;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 40px;
}

form .submit {
  padding: 15px;
  width: auto;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px 40px;
}

.grid-item {
  background-color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

article {
  text-align: justify;
  text-justify: inter-word;
  color: #4f4f4f;
  font-size: 24px;
}

article h1 {
  margin-bottom: 50px;
}

#apply {
  color: #79a9f5;
}

@media only screen and (max-width: 1300px) {
  .grid-container {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 250px auto 0px;
  padding-bottom: 100px;
  background-color: #e1f1ff;
}

.container h2 {
  margin-top: 90px;
}

.box {
  margin-top: -100px;
  width: 250px;
  height: 250px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  color: white;
  border-radius: 20px;
}

.box p {
  font-size: 40px;
  margin-top: 0px;
  border-bottom-style: 10px;
}

.gazdiratalalt {
  background: #79a9f5;
}

.onkenteseink {
  background: #ff6961;
}

.tamogatoink {
  background: #ff6961;
}

body {
  width: 100% !important;
}

header {
  background-color: white;
  width: 100%;
  z-index: 999;
  position: relative;
}

.navcontainer nav {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navcontainer .logo {
  margin-left: 20px;
}

.navcontainer ul {
  height: 100%;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navcontainer ul li {
  padding: 0px 20px;
  list-style: none;
}

.navcontainer ul li a {
  font-size: 24px;
}

.navcontainer ul li:nth-child(1) a {
  color: #79a9f5;
}

.section1 {
  top: 0px;
  height: 100vh;
  background-image: url("/Landing page/images/dogbackground_v4.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 300px;
}

.section1 div:nth-child(1) {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75%;
  margin: 20px;
}

.section1 div:nth-child(1) h1:nth-child(1) {
  font-size: 60px;
  text-align: center;
}

.section1 div:nth-child(1) h1:nth-child(2) {
  font-size: 70px;
  color: #79a9f5;
  text-align: center;
}

.section1 div:nth-child(1) div {
  margin-top: 40px;
}

.section1 div:nth-child(1) div a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.section1 div:nth-child(1) div a:hover {
  -webkit-box-shadow: 0px 2px 22px 0px rgba(50, 50, 50, 0.3);
          box-shadow: 0px 2px 22px 0px rgba(50, 50, 50, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  background-color: #79a9f5;
  color: white;
}

.section1 div:nth-child(2) {
  width: 50%;
}

.section2 {
  margin-top: 50px;
  margin-bottom: -30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section2 a {
  margin: 30px 0px;
  width: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section2 h1 {
  margin: 30px 0px;
  font-size: 50px;
}

.section2 p {
  font-size: 18px;
}

.section2 span {
  color: #ff6961;
}

.section3 {
  background-image: url("/Landing page/images/dogcatpeeking.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section3 h1 {
  text-align: center;
  font-size: 40px;
}

.section3 li {
  margin: 30px 0px;
  font-size: 18px;
  list-style-image: url("/Landing page/images/dogpaw_listicon.png");
}

.section3 span {
  color: #ff6961;
}

.section3 .section2first {
  margin-top: 300px;
}

.section3 .section2second {
  margin-top: 300px;
}

.section4 {
  padding: 40px 0px 100px 0px;
  background-color: #e1f1ff;
  background-size: cover;
  margin-top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section4 h1 {
  text-align: center;
}

.section4 img {
  width: 50%;
}

.section4 div a {
  margin-top: -170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 p {
  font-size: 17px;
  margin-top: 20px;
  width: 90%;
  text-align: center;
}

.flexfooter {
  margin: 10px 40px 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}

.flexfooter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexfooter div li {
  list-style: none;
  margin: 10px auto;
}

.flexfooter div li:nth-child(4) a {
  color: #79a9f5;
}

.flexfooter div:nth-child(3) li:nth-child(4) a {
  color: #4f4f4f !important;
}

.secondarymenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 10px;
  border-top: 4px solid #e1f1ff;
}
/*# sourceMappingURL=style.css.map */