.contact-title {
  margin-top: 100px;
  color: $font-color;
}

.contact-title h1 {
  font-size: 23px;
  line-height: 5px;
  color: $third-color;
}
#onkentes {
  text-align: center;
  margin-top: 50px;
  span {
    color: $pastel-red;
  }
}
form {
  margin-top: 50px;
}

textarea::placeholder {
  font-size: 18px !important;
  font-family: "Open Sans", sans-serif;
}
article {
  ul li {
    margin: 30px 0px;
    font-size: 18px;
    list-style-image: url("/Landing page/images/dogpaw_listicon.png");
  }
}
.form-control {
  width: 600px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid $font-color;
  color: $font-color;
  font-size: 18px;
  margin-bottom: 16px;
}
input {
  height: 40px;
}

form .submit {
  padding: 15px;
  width: auto;
}

.grid-container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  margin: 0px 40px;
}
.grid-item {
  background-color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

article {
  text-align: justify;
  text-justify: inter-word;
  color: $font-color;
  font-size: 24px;
  h1 {
    margin-bottom: 50px;
  }
}

#apply {
  color: $third-color;
}

@media only screen and (max-width: 1300px) {
  .grid-container {
    grid-template-columns: 1fr !important;
  }
}
